.container{
    width: 100%;
    height: 100vh;
    color: #383a3f;
    background-color: #f3f6f9;
    display: flex;
    align-items: center;
}

.app {
    width: 100%;
    max-width: 480px;
    height: 88vh;
    margin: 0 auto;
    background-color: var(--color-white);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    position: relative;
  }

.appHeader {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  border-bottom: black;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.appHeader h1 {
    font-size: 30px;
    color: #1f2124;
    font-weight: 800;
    text-align: center;
  }

.appHeader button {
border: 0;
background: transparent;
cursor: pointer;
}

.appHeader button > svg {
    fill: #1f2124;
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  color: black;
  transition: 0.7s;
}

.button:hover{
  transform: scale(1.2);
}